<div class="header-container mat-elevation-z4">
  <span>Header Data</span>
  <div class="right-section">
    <button mat-icon-button>
      <mat-icon>restart_alt</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleEditMode()">
      <mat-icon>@if (isEditMode) {done_outline} @else {edit}</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>comment</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>difference</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
</div>

<div class="expandable-container">
  <div class="header-grid-container">
    <div class="header-item">
      <div class="label">Contract Number</div>
      <mat-form-field appearance="outline" [editableInputField]="!isEditMode">
        <input matInput value="12345" />
      </mat-form-field>
    </div>
    <div class="header-item">
      <div class="label">PO Number</div>
      <mat-form-field appearance="outline" [editableInputField]="!isEditMode">
        <input matInput value="12345" />
      </mat-form-field>
    </div>
    <div class="header-item">
      <div class="label">Payment Terms</div>
      <mat-form-field appearance="outline" [editableSelectField]="!isEditMode">
        <mat-select
          placeholder="Division"
          value="option1"
          [disabled]="!isEditMode"
        >
          <mat-option value="option1">Yes</mat-option>
          <mat-option value="option2">No </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<!-- <button mat-button (click)="toggleExpand()">View More</button> -->
