<div class="header-container mat-elevation-z4">
  <span>Header Data</span>
  <div class="right-section">
    <button
      mat-icon-button
      (click)="handleReset()"
      matTooltip="Reset Data"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
      matTooltipShowDelay="200"
      *ngIf="isHeaderUpdated"
    >
      <mat-icon>restart_alt</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="startEditMode()"
      *ngIf="!isEditMode"
      matTooltip="Edit Data"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
      matTooltipShowDelay="200"
    >
      <mat-icon> edit</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="stopEditMode()"
      *ngIf="isEditMode"
      matTooltip="Save Changes"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
      matTooltipShowDelay="200"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="cancelEditMode()"
      *ngIf="isEditMode"
      matTooltip="Cancel Edit"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
      matTooltipShowDelay="200"
    >
      <mat-icon>cancel</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="openHeaderText()"
      matTooltip="Header Text"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
    >
      <mat-icon>chat</mat-icon>
    </button>
    @if (commercialContract.simulationErrorLogs &&
    (commercialContract.simulationErrorLogs.errorLogs ||
    commercialContract.simulationErrorLogs.warningLogs ||
    commercialContract.simulationErrorLogs.infoLogs ||
    commercialContract.simulationErrorLogs.successLogs)) {
    <button
      mat-icon-button
      (click)="openSimulationDialog()"
      matTooltip="Simulation Logs"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
    >
      <mat-icon>difference</mat-icon>
    </button>
    }
    <button
      mat-icon-button
      matTooltip="Attachments"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
</div>

<div class="expandable-container">
  <form class="header-grid-container" [formGroup]="overviewForm">
    <mat-form-field appearance="outline" label="Sold To">
      <input
        matInput
        type="text"
        [disabled]="true"
        [value]="soldTo.businessPartnerId | numberFormatter"
      />
    </mat-form-field>
    <div class="sales-area">
      <span class="label">Sales Area</span>
      <div class="sales-area-content">
        <span>{{ commercialContract.salesOrgId }}</span>
        <span>/</span>
        <span>{{ commercialContract.distributionChannel }}</span>
        <span>/</span>
        <mat-form-field appearance="outline" style="width: 6rem">
          <mat-select
            formControlName="division"
            [placeholder]="overviewForm.get('division')?.value"
          >
            @for (division of divisions; track $index) {
            <mat-option value="{{ division.value }}">{{
              division.description
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline" label="Sales Doc Type">
      <input
        matInput
        type="text"
        placeholder="Enter Sold To Number"
        [disabled]="true"
        [value]="commercialContract.salesDocType"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" label="Contract Type">
      <input type="text" value="POS/NON POS" matInput disabled />
    </mat-form-field>

    <mat-form-field appearance="outline" label="PO Type">
      <mat-select
        formControlName="poType"
        [placeholder]="overviewForm.get('poType')?.value"
      >
        @for (poType of poTypes; track $index) {
        <mat-option value="{{ poType.value }}">{{
          poType.description
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" label="Currency">
      <input
        matInput
        type="text"
        [value]="commercialContract.currency | uppercase"
        disabled
      />
    </mat-form-field>
    <mat-form-field appearance="outline" label="Total Contract Value">
      <input
        type="text"
        disabled
        matInput
        [value]="
          commercialContract.netValueOfContract
            | currency : commercialContract.currency
        "
        class="totalContractValue"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" label="PO No.">
      <input
        matInput
        type="text"
        placeholder="Enter PO No"
        formControlName="customerPurchaseOrderNumber"
      />
    </mat-form-field>

    <mat-form-field label="PO Date" appearance="outline">
      <input
        matInput
        [matDatepicker]="poDate"
        disabled
        [value]="commercialContract.poDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="poDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #poDate> </mat-datepicker>
    </mat-form-field>

    <mat-form-field label="Contract Start Date" appearance="outline">
      <input
        matInput
        [matDatepicker]="cStart"
        formControlName="contractStartDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="cStart"
      ></mat-datepicker-toggle>
      <mat-datepicker #cStart> </mat-datepicker>
    </mat-form-field>
    <mat-form-field label="Contract End Date" appearance="outline">
      <input
        matInput
        [matDatepicker]="cEnd"
        formControlName="contractEndDate"
      />
      <mat-datepicker-toggle matIconSuffix [for]="cEnd"></mat-datepicker-toggle>
      <mat-datepicker #cEnd> </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" label="Payment Terms">
      <mat-select
        value="option1"
        formControlName="paymentTerms"
        [placeholder]="overviewForm.get('paymentTerms')?.value"
      >
        @for (paymentTerm of paymentTerms; track $index) {
        <mat-option
          value="{{ paymentTerm.value }}"
          [matTooltip]="paymentTerm.description"
          matTooltipPosition="above"
          matTooltipShowDelay="200"
        >
          {{ paymentTerm.value }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" label="Source">
      <input
        matInput
        type="text"
        disabled
        [value]="commercialContract.contractSource | uppercase"
      />
    </mat-form-field>
  </form>
</div>
