:host {
  display: flex;
  flex-direction: column;
}

.header-container {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #164776;
  font-size: 1rem;
  padding-block: 0.4rem;
  font-weight: 500;

  .right-section {
    display: flex;
    align-items: center;
    color: white;
    .mat-icon {
      color: white;
    }
  }
}

.expandable-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  .header-grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
  }
}

.label {
  font-weight: 500;
}

.header-item {
  display: flex;
  flex-direction: column;
}

.sales-area {
  display: flex;
  flex-direction: column;

  .sales-area-content {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
}

.totalContractValue {
  -webkit-text-fill-color: green;
  font-weight: 700 !important;
}
