:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.duelist-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  margin-top: 1rem;
  border-radius: 0.2rem;

  .heading-text h6 {
    padding: 1rem;
    font-size: 1.2rem;;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
