<h6>User Role Management</h6>

<form class="select-container" [formGroup]="userManagementForm">
  <mat-form-field appearance="outline">
    <mat-select formControlName="environment" placeholder="Select environment">
      @for (environment of environments; track environment.name) {
      <mat-option [value]="environment.path">{{ environment.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-select
      formControlName="application"
      placeholder="Select Application ID"
    >
      @for (appID of applicationId; track appID.id) {
      <mat-option [value]="appID.id">{{ appID.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="handleFetchUsers()">
    <mat-icon>search</mat-icon>
    Search
  </button>
  <button mat-flat-button class="add-user mat-elevation-z2" (click)="addUser()">
    <mat-icon>person_add</mat-icon>
    Add
  </button>
</form>

<mat-divider></mat-divider>
<span>Total Active Users: {{ rowData.length }}</span>
<div class="grid-container">
  <ag-grid-table [rowData]="rowData" [colDefs]="colDefs"></ag-grid-table>
</div>
