<div class="partner-container mat-elevation-z4">
  <span>Partners Data</span>
  <div class="right-section">
    <button
      mat-icon-button
      (click)="reset()"
      *ngIf="isBusinesspartnerroleUpdated"
      matTooltip="Reset Data"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
    >
      <mat-icon>restart_alt</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="startEditMode()"
      *ngIf="!isEditMode"
      matTooltip="Edit Data"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
    >
      <mat-icon> edit</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="stopEditMode()"
      *ngIf="isEditMode"
      [disabled]="parternLoading"
      matTooltip="Save Changes"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="cancelEditMode()"
      *ngIf="isEditMode"
      matTooltip="Cancel Edit"
      matTooltipPosition="above"
      matTooltipShowDelay="200"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>

<div class="grid-container">
  <div
    class="overlay"
    [attr.loading]="partnerLoadingMessage"
    *ngIf="parternLoading"
  ></div>
  <ag-grid-table [rowData]="partnersData" [colDefs]="colDefs" />
</div>
