<span mat-dialog-title class="dialog-title">
  User Roles ({{ userData?.userEmail }})
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</span>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div class="grid-container">
    <ag-grid-table
      [rowData]="rowData"
      [colDefs]="colDefs"
      rowSelection="multiple"
      [pagination]="true"
      (gridReadyEvent)="onGridReady($event)"
      (selectedRows)="handleSelectedRows($event)"
    />
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button
    mat-flat-button
    class="equipment-btn mat-elevation-z1"
    (click)="handleSave()"
    [disabled]="saveBtnDisabled || userRoleUpdateLoading"
  >
    @if(!userRoleUpdateLoading){ Save } @if (userRoleUpdateLoading) {
    <mat-spinner [diameter]="20"></mat-spinner>
    } @else {
    <mat-icon> save </mat-icon>
    }
  </button>
</mat-dialog-actions>
