.listing {
  color: #cc9b00;
  font-weight: 500;
}

.failed {
  color: #c2231f;
  font-weight: 500;
}

.tech-error {
  color: #de2f2c;
  font-weight: 500;
}

.progress {
  color: #696969;
  font-weight: 500;
}

.success {
  color: #008000;
  font-weight: 500;
}

.default {
  color: rgb(46, 139, 157);
  font-weight: 500;
}
