:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.overview-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  margin-top: 1rem;
  border-radius: 0.2rem;
  .header-section {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-block: 2rem;
    padding-inline: 1rem;
    .left-section {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      & h6 {
        font-size: 1.3rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        span {
          color: rgb(60, 113, 156);
          font-weight: 500;
        }
      }
      .lang {
        font-size: 0.9rem;
        align-self: flex-end;
        margin-bottom: 3px;
        color: rgb(60, 113, 156);
      }
      .contract-status {
        color: white;
        background-color: gray;
        padding-inline: 1rem;
        padding-block: 0.2rem;
        border-radius: 0.2rem;
        font-weight: 500;

        &.listing {
          background: #dc4f0d;
        }
        &.failed {
          background: #c2231f;
        }
        &.progress {
          background: #696969;
        }
        &.tech-error {
          background: #de2f2c;
        }
      }

      .child-left {
        display: inherit;
        gap: 1rem;
      }
    }
    .right-section {
      display: flex;
      gap: 0.5rem;
      .contract-btn {
        display: flex;
        align-items: center;
        width: unset;
        color: white;
        gap: 0.5rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        background-color: #1b5388;
        padding-inline: 1rem;
        box-shadow: 0 0.125rem 0.25rem #0c365c;
        &:hover {
          background-color: rgb(33, 87, 138);
        }
        &:active {
          background-color: #185894;
        }
        ::ng-deep .mat-mdc-button-persistent-ripple {
          display: none !important;
        }
        &:disabled {
          background-color: gray;
        }
      }
    }
  }
  .section-container {
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.loading-container {
  height: 100%;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: rgb(217, 90, 48);
}
