<ng-container
  *ngxPermissionsOnly="['view_role_permissions', 'root_admin']; else noAccess"
>
  <div mat-dialog-title class="dialog-title-container">
    <h4 #dialogTitle>Permissions</h4>
    <div
      style="flex-grow: 1; cursor: move; height: 100%"
      cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      cdkDragHandle="dialogTitle"
    ></div>
    <div class="button-container">
      <button
        mat-icon-button
        class="icon-btn add-btn"
        (click)="addPermissions()"
        *ngxPermissionsOnly="
          ['add_role_permissions', 'root_admin'];
          else addElse
        "
      >
        Add
        <mat-icon> add </mat-icon>
      </button>
      <button
        mat-icon-button
        class="icon-btn remove-btn"
        (click)="deletePermissions()"
        [disabled]="!selectedRowIds.length"
        *ngxPermissionsOnly="
          ['remove_role_permissions', 'root_admin'];
          else removeElse
        "
      >
        Remove
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  @if (!loading) {
  <mat-dialog-content class="dialog-content">
    <ag-grid-table
      [colDefs]="colDefs"
      [rowData]="rowData"
      [pagination]="true"
      rowSelection="multiple"
      (selectedRows)="onRowSelectionChange($event)"
    ></ag-grid-table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>

  } @else {
  <div class="loading-container">
    <app-loading></app-loading>
  </div>
  }
</ng-container>

<ng-template #noAccess>
  <app-unauthorized />
</ng-template>

<ng-template #addElse>
  <span matTooltip="You don't have permissions" matTooltipPosition="above">
    <button mat-icon-button class="icon-btn add-btn" disabled>
      Add
      <mat-icon> add </mat-icon>
    </button>
  </span>
</ng-template>

<ng-template #removeElse>
  <span matTooltip="You don't have permissions" matTooltipPosition="above">
    <button mat-icon-button class="icon-btn remove-btn" disabled>
      Remove
      <mat-icon>delete</mat-icon>
    </button>
  </span>
</ng-template>
