:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.reports-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .reports-drawer {
    box-shadow: 0px 0px 5px black;
    padding: 1rem;
    width: 18rem;
  }
}

::ng-deep .mat-drawer-content {
  display: flex !important;
  flex-direction: column;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 1rem;
}

.book-contract-btn {
  display: flex;
  align-items: center;
  width: unset;
  color: white;
  gap: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #1b5388;
  padding-inline: 1rem;
  box-shadow: 0 0.125rem 0.25rem #0c365c;
  &:hover {
    background-color: rgb(33, 87, 138);
  }
  &:active {
    background-color: #185894;
  }
  ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none !important;
  }
  &:disabled {
    background-color: gray;
  }
}

.sidenav-content {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1 !important;
  position: relative;
  .drawer-toggle-btn {
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
  }
  .sidenav-content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0.25rem;
  }
}
