<ag-grid-angular
  [rowData]="rowData"
  [columnDefs]="colDefs"
  class="ag-theme-quartz"
  [suppressCellFocus]="true"
  [suppressRowClickSelection]="true"
  [rowSelection]="rowSelection"
  [defaultColDef]="defaultColDef"
  [pagination]="pagination"
  (gridReady)="onGridReady($event)"
  (selectionChanged)="onSelectionChanged()"
  (cellValueChanged)="onCellValueChanged($event)"
  [isRowSelectable]="isRowSelectable"
  (cellEditingStopped)="onCellEditingStopped($event)"
  [tooltipShowDelay]="0"
  [tooltipHideDelay]="0"
  [enableBrowserTooltips]="true"
/>
