:host {
  height: 100%;
}

::ng-deep .ag-theme-quartz {
  --ag-borders: none;
  width: 100%;
  height: 100%;
}

::ng-deep .ag-root-wrapper {
  .ag-sticky-bottom {
    border: none;
  }
  border-radius: unset !important;
  border: none !important;
  .ag-header {
    background-color: unset;
  }
  .ag-header {
    border-top: 1px solid rgba(128, 128, 128, 0.406);
    border-bottom: 1px solid rgba(128, 128, 128, 0.406);
  }
  .ag-popup {
    position: absolute;
    bottom: 0;
  }
}
