:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.second-row-toolbar {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  button {
    border-radius: 0px;
  }
}

.book-contract-btn {
  display: flex;
  align-items: center;
  width: unset;
  color: white;
  gap: 0.5rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #1b5388;
  padding-inline: 1rem;
  box-shadow: 0 0.125rem 0.25rem #0c365c;
  &:hover {
    background-color: rgb(33, 87, 138);
  }
  &:active {
    background-color: #185894;
  }
  ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none !important;
  }
  &:disabled {
    background-color: gray;
  }
}
