<span mat-dialog-title class="dialog-title">
  Add User
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</span>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div class="add-user-container">
    <form class="form">
      <mat-form-field class="full-width" appearance="outline">
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Enter User Email"
        />
        <mat-hint>Errors appear instantly!</mat-hint>
        @if (emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        } @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </form>

    <div class="grid-container">
      <ag-grid-table
        [rowData]="rowData"
        [colDefs]="colDefs"
        rowSelection="multiple"
        [pagination]="true"
        (selectedRows)="handleSelectedRows($event)"
      />
    </div>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button
    cdkFocusInitial
    class="mat-elevation-z1"
    mat-flat-button
    (click)="handleAdd()"
    [disabled]="emailFormControl.invalid || !selectedRows.length"
  >
    Add
  </button>
</mat-dialog-actions>
