::ng-deep .mat-mdc-dialog-surface {
  border-radius: 0.2rem;
}

.add-user-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.grid-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100px;
}

.dialog-title {
  background-color: rgb(55, 130, 167);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: unset;
  padding-block: 0.7rem;
  padding-inline: 1.25rem;

  button {
    color: white;
  }
  &::before {
    display: none;
  }
}
.mat-mdc-dialog-content {
  padding: unset;
}

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  mat-dialog-actions button {
    border-radius: 0.2rem;
    height: 2rem;
  }
  mat-dialog-content {
    display: flex !important;
    flex-direction: column;
    flex-grow: 1;
    height: 100% !important;
  }
}

.form {
  width: 100%;
  margin-bottom: 0.5rem;
}

.full-width {
  width: 100%;
  padding-inline: 1rem;
}
