<div
  class="users-list-container"
  *ngxPermissionsOnly="['view_users', 'root_admin']; else noAccess"
>
  <div class="users-list-header">
    <span>Users List</span>
    <div class="button-group">
      <button mat-icon-button class="delete-btn">
        <mat-icon>delete</mat-icon>
        Remove
      </button>
      <button mat-icon-button>
        <mat-icon>person_add</mat-icon>
        Add
      </button>
    </div>
  </div>

  <ag-grid-table
    [pagination]="true"
    [colDefs]="colDefs"
    [rowData]="rowData"
    (cellValueChangedEvent)="onCellValueChanged($event)"
  >
  </ag-grid-table>
</div>

<ng-template #noAccess>
  <app-unauthorized></app-unauthorized>
</ng-template>
