<button mat-menu-item>
  <div class="first-row">
    <app-avatar [initials]="initialName" size="small" />
    <div class="right-child">
      <span>{{ userName }}</span>
      <span>Last Login: {{ lastLoggedIn }} </span>
    </div>
  </div>
</button>
<mat-divider></mat-divider>
<button mat-menu-item (click)="logout()">
  <div class="second-row">
    <div class="left-child">
      <mat-icon>power_settings_new</mat-icon>
      <span>Sign Out</span>
    </div>
    <mat-icon>chevron_right</mat-icon>
  </div>
</button>
