:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .error-msg {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    font-size: larger;
    z-index: 1000;
  }
}
