<span mat-dialog-title class="dialog-title" [ngClass]="data.status.className">
  Basic Validation Check: {{ data.status.text | titlecase }}
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</span>
<mat-dialog-content>
  <table mat-table [dataSource]="data.data" class="mat-elevation-z8">
    <!-- CheckName Column -->
    <ng-container matColumnDef="checkName">
      <th mat-header-cell *matHeaderCellDef>Check Name</th>
      <td mat-cell *matCellDef="let element">{{ element.checkName }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <div
          class="status-cell"
          [ngClass]="element.status ? 'success' : 'failed'"
        >
          <mat-icon>@if (element.status) {check_circle} @else {error}</mat-icon>
          @if (element.status) {Success} @else {Failed}
        </div>
      </td>
    </ng-container>

    <!-- Error Message Column -->
    <ng-container matColumnDef="errorMessage">
      <th mat-header-cell *matHeaderCellDef>Error Message</th>
      <td mat-cell *matCellDef="let element">{{ element.errorMessage }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>
