:host {
  padding: 0 !important;
  margin: 0 !important;

  .mat-mdc-form-field {
    all: unset !important;
  }
  & ::ng-deep .mat-mdc-text-field-wrapper {
    height: 30px !important;
  }

  .select-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
