<div class="select-container">
  <mat-form-field appearance="outline">
    @if (hasPermission) {
    <mat-select
      [(ngModel)]="selectedValue"
      (selectionChange)="onValueChange($event)"
    >
      <mat-option
        *ngFor="let option of options"
        [value]="getValue(option)"
        [matTooltip]="getToolTipText(option)"
        matTooltipPosition="above"
        matTooltipShowDelay="200"
        >{{ getDisplay(option) }}</mat-option
      >
    </mat-select>
    }
    @else {
      <input matInput disabled [value]="selectedValue"/>
    }
  </mat-form-field>
</div>
