.item-container {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #164776;
  font-size: 1rem;
  padding-block: 0.9rem;
  font-weight: 500;
  margin-top: 1rem;
}

.item-grid {
  height: 20rem;
}
