:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  flex-grow: 1;

  .status-form {
    display: flex;
    column-gap: 0.5rem;
    margin-left: 4rem;
  }

  .search-btn {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    color: white;
    gap: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #1b5388;
    padding-inline: 1rem;
    box-shadow: 0 0.125rem 0.25rem #0c365c;
    &:hover {
      background-color: rgb(33, 87, 138);
    }
    &:active {
      background-color: #185894;
    }
    ::ng-deep .mat-mdc-button-persistent-ripple {
      display: none !important;
    }
    &:disabled {
      background-color: gray;
    }
  }
}
