<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  #menuTrigger="matMenuTrigger"
  class="select-date"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>calendar_month</mat-icon>
  Select Date
</button>
<div class="filter-option">
  <mat-menu #menu="matMenu" (closed)="onFilterChange()">
    <form
      [formGroup]="filterForm"
      class="menu-content"
      (click)="$event.stopPropagation()"
    >
      <!-- Dropdown for Filter Conditions -->
      <mat-form-field appearance="outline" class="condition-field">
        <mat-select formControlName="condition">
          <mat-option value="equals">Equals</mat-option>
          <mat-option value="notEquals">Does Not Equal</mat-option>
          <mat-option value="before">Before</mat-option>
          <mat-option value="after">After</mat-option>
          <mat-option value="between">Between</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Single Date Picker for Simple Conditions -->
      <mat-form-field
        appearance="outline"
        *ngIf="filterForm.get('condition')?.value !== 'between'"
        class="date-field"
      >
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="selectedDate"
          placeholder="Choose Date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Date Pickers for "Between" Condition -->
      <div
        *ngIf="filterForm.get('condition')?.value === 'between'"
        class="between-dates"
      >
        <mat-form-field appearance="outline" class="date-field">
          <input
            matInput
            [matDatepicker]="startPicker"
            formControlName="startDate"
            placeholder="Start Date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <span class="to-label">To</span>
        <mat-form-field appearance="outline" class="date-field">
          <input
            matInput
            [matDatepicker]="endPicker"
            formControlName="endDate"
            placeholder="End Date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="actions">
        <button mat-raised-button color="warn" (click)="clearFilter()">
          Clear
          <mat-icon>clear</mat-icon>
        </button>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          (click)="applyFilter(menuTrigger)"
        >
          Apply
          <mat-icon>done_all</mat-icon>
        </button>
      </div>
    </form>
  </mat-menu>
</div>
