@import "ngx-toastr/toastr";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.custom-select {
  all: unset !important;
  display: flex !important;
  align-items: center !important;
  & * {
    color: black !important;
    width: unset !important;
    padding: unset !important;
    border: unset !important;
    display: flex !important;
    align-items: center !important;

    .mat-mdc-select-arrow-wrapper {
      display: none !important;
    }
  }
}

.header-item:has(input[disabled]) {
  .mat-mdc-form-field-flex {
    display: flex !important;
    align-items: center !important;
    height: 40px !important;
    color: black !important;
  }

  .mdc-text-field--outlined {
    all: unset !important;
  }

  * {
    color: black !important;
  }

  .mat-mdc-form-field-icon-suffix {
    display: none !important;
  }

  .mat-mdc-form-field-flex {
    display: flex !important;
    align-items: center !important;
    height: 2.5rem;
    color: black !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    // display: none !important;
    padding: unset !important;
    height: unset !important;
    & * {
      padding: unset !important;
      height: unset !important;
    }
  }

  .mat-mdc-text-field-wrapper {
    & .mat-mdc-form-field-infix {
      width: unset !important;
      min-width: 50px;
    }
  }
}
