@import "ngx-toastr/toastr";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.form-field-custom-style .mat-mdc-form-field-flex {
  display: flex !important;
  align-items: center !important;
  height: 40px !important;
}

.form-field-custom-style .mdc-text-field--outlined {
  all: unset !important;
}

.mat-mdc-form-field-flex {
  display: flex !important;
  align-items: center !important;
  height: 2.5rem;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-mdc-text-field-wrapper {
  & .mat-mdc-form-field-infix {
    width: unset !important;
    min-width: 50px;
  }
}

.custom-select {
  all: unset !important;
  & * {
    all: unset !important;
  }
}
