<mat-toolbar>
  <div class="left-child">
    <button
      mat-icon-button
      (click)="openSidenav()"
      aria-hidden="false"
      class="hamburger-icon"
      aria-label="Example thumbs up SVG icons"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="logo">RBAC</h1>
    <span>
      <ng-content />
    </span>
  </div>

  <span class="spacer"></span>
  <div class="right-child">
    <span>EN</span>
    <mat-divider vertical></mat-divider>
    <button
      mat-icon-button
      class="profile-btn"
      disableRipple
      [matMenuTriggerFor]="menu"
    >
      @if (loading) {
      <span class="spinner"></span>
      } @else {
      <app-avatar [initials]="initialName" size="small" shape="circle" />
      {{ userName }}
      <mat-icon>arrow_drop_down</mat-icon>
      }
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" xPosition="before">
  <app-app-bar-menu />
</mat-menu>
