@if (!error) {
<div class="overview-container mat-elevation-z8" *ngIf="!loading">
  <div class="header-section">
    <div class="left-section">
      <div class="child-left">
        <h6>
          Item Details:
          <span>{{
            contractLineItem?.contractLineItemNumber | uppercase
          }}</span>
        </h6>
        <span class="lang">ENG</span>
      </div>
      <span
        class="contract-status mat-elevation-z2"
        [ngClass]="contractStatusClass"
        >{{ contractStatus }}</span
      >
    </div>
    <div class="right-section">
      <button
        mat-icon-button
        class="contract-btn"
        (click)="simulateContract()"
        [disabled]="simulationLoading"
      >
        @if (simulationLoading) {
        <span class="spinner"></span>} @else {<mat-icon>rebase_edit</mat-icon>}
        Simulate
      </button>
      <button mat-icon-button class="contract-btn">
        <mat-icon>task</mat-icon>
        Book Contract
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="section-container">
    <item-detail-header></item-detail-header>
    <contract-line-partner></contract-line-partner>
    <service-entitlement-main></service-entitlement-main>
  </div>
</div>
}@else {
<div class="error-container">
  <h6>{{ error }}</h6>
</div>
}

<div class="loading-container" *ngIf="loading">
  <app-loading></app-loading>
</div>
