<span mat-dialog-title class="dialog-title">
  <span>
    Equipment List: <span class="line-number">{{ payload.lineNumber }}</span>
  </span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</span>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div class="input-area">
    <mat-form-field class="example-full-width" appearance="outline">
      <input
        [formControl]="equipmentForm"
        type="text"
        matInput
        placeholder="Enter Equipment number(s)"
      />
    </mat-form-field>

    <button
      mat-flat-button
      class="equipment-btn mat-elevation-z1"
      (click)="addEquipment()"
      [disabled]="isEquipmentLoading || !equipmentForm.value"
    >
      @if (isEquipmentLoading) {
      <mat-spinner [diameter]="20"></mat-spinner>
      } @else {Add}
    </button>
    <button
      mat-flat-button
      class="equipment-btn mat-elevation-z1"
      [disabled]="!selectedRows.length"
      (click)="deleteEquipment()"
    >
      Delete
    </button>
  </div>
  <mat-error>{{ equipmentError }}</mat-error>
  <div class="grid-container">
    <ag-grid-table
      [colDefs]="colDefs"
      [rowData]="technicalObjects"
      (selectedRows)="handleSelectedRows($event)"
    >
    </ag-grid-table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button
    cdkFocusInitial
    class="mat-elevation-z1"
    mat-flat-button
    (click)="onConfirm()"
  >
    Save
  </button>
</mat-dialog-actions>
