:host {
  display: flex;
  flex-direction: column;
}

.service-entitlement-container {
  padding-inline: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #164776;
  font-size: 1rem;
  padding-block: 0.8rem;
  font-weight: 500;
}

.grid-container {
  position: relative;
}
