:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 3rem;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .menu-heading {
    font-weight: 700;
  }
}

.drawer {
  background-color: rgba(128, 128, 128, 0.087);
  width: 15rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

::ng-deep .mat-drawer-content {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}
