<app-app-bar></app-app-bar>
<div class="home-container">
  <span>Booking Console</span>
  <div class="inner-container">
    <h1>You want to work on</h1>
    <div class="contract-grid">
      <a routerLink="contract" class="contract mat-elevation-z8">
        <div class="contract">
          <mat-icon>groups</mat-icon>
          Contract
        </div>
      </a>
      <a class="order mat-elevation-z8" routerLink="#">
        <mat-icon>interpreter_mode</mat-icon>
        Order
      </a>
    </div>
  </div>
</div>
