<span mat-dialog-title class="dialog-title">
  Upload Attachments
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</span>
<mat-dialog-content>
  <app-file-chooser></app-file-chooser>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button
    mat-icon-button
    mat-dialog-close
    cdkFocusInitial
    class="upload-btn mat-elevation-z4"
  >
    <mat-icon>upload_file</mat-icon>
    Upload
  </button>
</mat-dialog-actions>
